
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    overflow-x: hidden;
    overflow-y: scroll;
}

@layer base {



    @keyframes fadeIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    @keyframes slideUp {
    from {
      transform: translateY(30px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes pulseSubtle {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.02);
    }

    100% {
      transform: scale(1);
    }
  }
}



@layer utilities{
    .animated-fade-in {
        animation: fadeIn 0.8s ease-out forwards;
    }

    .animate-slide-up {
    animation: slideUp 0.8s ease-out forwards;
  }

  .animate-pulse-subtle {
    animation: pulseSubtle 3s ease-in-out infinite;
  }

    .delay-100 {
    animation-delay: 100ms;
  }

  .delay-200 {
    animation-delay: 200ms;
  }

  .delay-300 {
    animation-delay: 300ms;
  }

  .delay-400 {
    animation-delay: 400ms;
  }

  .delay-500 {
    animation-delay: 500ms;
  }

  .delay-700 {
    animation-delay: 700ms;
  }



  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
  }
}